:root {
	--cell-size: 28px;
	--grid-width: 10;
}

.plan {
  display: grid;
  grid-template-columns: repeat(28, 28px [col-start]) 100px [col-start];
  grid-template-rows: repeat(4, 42px [col-start]);
  min-width: 380px;
}

.seat {
  width: 28px; #var(--cell-size);
  height: 28px; #var(--cell-size);
  margin: 3px;
  background-color: gray;
  text-align: center;
  line-height: 28px; var(--cell-size);
  cursor: pointer;
  
-webkit-user-select: none;        
-moz-user-select: none; 
-ms-user-select: none; 
-o-user-select: none;
user-select: none;
}

.space {
  position: relative;
  margin: 3px;
  float: left;
  width: 28px; #var(--cell-size);
  height: 28px; #var(--cell-size);
  line-height: 28px; var(--cell-size);
}

.rang1 {
  background-color: grey;
}

.rang2 {
  background-color: #8a85bf;
}

.rang3 {
  background-color: #82d09a;
}

.seat.occupied {
  cursor: no-drop;
}

.occupied {
  background-color: #ff9999;
}

.occupied-buero {
  background-color: #e58116;
}

.free {
  background-color: green;
}

.selected {
  position: relative;
}

.selected:before {
  width: 100%;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  color: #000;
  font-size: 25px;
  padding-right: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  line-height: var(--cell-size);
  padding: 0;
  vertical-align: middle;
  background-color: rgba(255,250,205,0.5);
  content: "\f00c";
}

.deselected {
  position: relative;
}

.deselected:before {
  width: 100%;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  color: #000;
  font-size: 25px;
  padding-right: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  line-height: var(--cell-size);
  padding: 0;
  vertical-align: middle;
  background-color: rgba(255,250,205,0.5);
  content: "\f00d";
}

.gang {
	width: 100%;
    text-align: center;
    float: left;
	background-color: #b7b7b7;
	margin-top: 5px;
	margin-bottom: 5px;
}

.buehne {
	width: 100%;
  text-align: center;
  background-color: #b7b7b7;
	margin-top: 5px;
	margin-bottom: 5px;
}

.product-selection {
	padding: 20px;
}

.list-seats-check {
	
}
